*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'montseratt',sans-serif;
}
.App{
  background-image: url('./assets/nightscenery.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.App .warm{
   background-image: url('./assets/sunandclouds.jpg');
}
main{
  min-height: 100vh;
  background-image: linear-gradient(rgba(61, 60, 60, 0.2), rgba(0,0,0,0.75));
  padding: 25px;
}
.search-box{
width: 100%;
margin: 0 auto 75px;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color:  rgb(45, 57, 66);
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  transition: 0.4s ease;

}
.search-box .search-bar:focus{
  background-color: rgba(86, 94, 143, 0.678);
}
.location-box .location{
  color:rgb(215, 231, 255);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px  rgba(50,50,70,0.5);
}
.location-box .date{  
    color:rgb(174, 206, 255);
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50,50,70,0.5);
  
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 60px;
  font-size: 110px;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px rgba(50,50,70,0.5);

}
.weather-box .weather{
  color: rgb(174, 206, 255);
  
  font-size: 35px;
  font-weight: 600;
  text-shadow: rgba(86, 94, 143, 0.678);
}